Package: com.qq.news.hook
Name: qqnewshook
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: WTW
Author: WTW
Section: Tweaks
Version: 0.0.1-3+debug
Installed-Size: 200
